{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Teams{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Teams</h1>
        {% if teams %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> First name </th>
                  <th width="40%"> Last name </th>
                </tr>
              </thead>
              <tbody>
              {% for user in users %}
                <tr>
                  <td> {{ user.first_name }} </td>
                  <td> {{ user.last_name }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No user have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_team') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Team
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
