{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Teams{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Teams</h1>
        {% if teams %}
          <hr class="intro-divider">
          <div class="center">

              {% for team in teams %}
              <div class="card">
                <img src="..." alt=" card image cap">
                <div class="card-block">
                  Name : {{team.name}}
                  <br>

                  History: {{team.history}}

                </div>
              </div>

              {% endfor %}
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No teams have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
