{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Teams{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Teams</h1>
        {% if teams %}
          <hr class="intro-divider">
          <div class="row">

              {% for team in teams %}

              <div class="col-6 col-lg-4">
                <figure class="snip1360"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample43.jpg" alt="sample43" />
                  <figcaption>
                    <h2>Name : {{team.name}} </h2>
                    <p>History: {{team.history}}</p><a href="{{ url_for('home.team_details', id = team.id) }}" class="read-more">Read More</a>
                  </figcaption>
                </figure>
                </figcaption>
              </figure>
            </div><!--/span-->

              {% endfor %}
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No teams have been added. </h3>
            <hr class="intro-divider">
        {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
